.jumbotron {
    background-color: gold;
    color: black;
    margin-top: 50px;
}

.card-hotel {
    flex: 1 200px;
    font-size: medium;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    max-width: 300px;
}

.card-hotel .btn {
    width: 100%;
}

footer {
    background-color: gold;
    font-size: small;
    padding: 10px 10px 0px 10px;
    margin-top: 20px;
}

.footer-address-icon {
    padding-right: 10px;
}

.oi-chevron-right {
    margin-left: 15px;
}